name: Publish

on:
  release:
    types:
      - published

jobs:
  publish-image:
    name: Publish container image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    env:
      GITHUB_REGISTRY_IMAGE: ghcr.io/${{ github.repository_owner }}/mimalloc
      DOCKER_REGISTRY_IMAGE: docker.io/aeron/mimalloc
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - id: recase
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.GITHUB_REGISTRY_IMAGE }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        # NOTE: by default, it uses tonistiigi/binfmt:latest, and it is 7.0.0
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build Image and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ steps.recase.outputs.lowercase }}:latest
            ${{ steps.recase.outputs.lowercase }}:${{ github.ref_name }}
            ${{ env.DOCKER_REGISTRY_IMAGE }}:latest
            ${{ env.DOCKER_REGISTRY_IMAGE }}:${{ github.ref_name }}
          platforms: >-
            linux/amd64,
            linux/arm64,
            linux/riscv64,
            linux/ppc64le,
            linux/s390x
      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: aeron/mimalloc
        continue-on-error: true
